@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
// $fa-font-path: "/bower_components/font-awesome/fonts";
@import "./bower_components/font-awesome/scss/font-awesome";


html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #D6B858;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

.authors {
  display: flex;
  flex-flow: row wrap;

  md-card {
    img.userimg {
      float: right;
      width: 50px;
      margin: 4px;
    }
  }
}

.postlist {
  width: 40%;
  margin-left: auto;
  margin-right: 25%;
  padding-bottom: 10px;
  .post {
    a {
      line-height: 1.4em;
      text-decoration: none;
      color: white;
      .title {
        color: darkgrey;
        width: 75%;
      }
      .icon {
        float: left;
        width: 22px;
        margin-top: 4px;
      }
      .postdate {
        float: right;
        color: darkgrey;
      }
      &:hover {
        color: #000;
      }
    }
  }
}

.blog {
  .post {
    .postbody {
      margin-left: auto;
      margin-right: 20%;
      width: 60%;
    }
  }
}

.editpost {
  width: 600px;
  .post {
    label {
    }
    input {
      width: 100%;
    }
    textarea {
      overflow: auto;
      width: 100%;
      height: 400px;
    }
  }
}
// injector
// endinjector
