<md-toolbar layout="row" layout-align="center center" ng-controller="NavbarCtrl">
  <section flex layout="row" layout-align="left center">
    <md-button ng-repeat="link in links" href="{{link.url}}" class="md-raised" aria-label="{{link.name | capitalize}}">{{link.name}}</md-button>
  </section>
  <div ng-if="showlogin">
    <button ng-click="login()" ng-if="!displayName">Login</button>
    <button ng-click="logout()" ng-if="displayName">Logout</button>
    <div ng-if="errormessage">{{errormessage}}</div>
    <div ng-if="displayName">Hello, {{ displayName }}.</div>
  </div>
  <!-- <md-button href="" aria-label="Current date">Current date: {{ date | date:'yyyy-MM-dd' }}</md-button> -->
</md-toolbar>
