<div layout="vertical" layout-fill>

  <header ng-include="'components/navbar/navbar.html'"></header>

  <md-content>
    <section class="jumbotron">
      <h1>{{title}}</h1>
      <p><a href="/blog/{{singlepost._id}}">more</a></p>
    </section>
  </md-content>

  <md-content class="editpost">
    <div class="post">
      <div><label>Title:</label><input ng-model="singlepost.title"></input></div>
      <div><label>About:</label><input ng-model="singlepost.about"></input></div>
      <div><label>Body:</label>
      <textarea ng-model="singlepost.contents"></textarea></div>
    </div>
    <button ng-click="savePost()">save</button>
  </md-content>

  <footer/>

</div>
