<div layout="vertical" layout-fill>

  <header ng-include="'components/navbar/navbar.html'"></header>

  <md-content>
    <section class="jumbotron">
      <h1>{{title}}</h1>
      <p>{{slug}}</p>
    </section>
    <button ng-click="nextPost()" ng-if="nextpost._id">Next</button>
    <button ng-click="prevPost()" ng-if="prevpost._id">Previous</button>
  </md-content>

  <md-content class="blog">
    <div class="post">
      <div btf-markdown="post.contents" class="postbody"></div><hr>
    </div>
  </md-content>

  <footer/>

</div>
